.header-image {
  height: 500px;
  width: 100%;
  background-image: url('../../assets/header-imageone.jpg');
  background-size: auto, cover;
}

.header-image hr {
  border-color: #F7F9FA;
  opacity: 0.5;
  margin: 5px;
}