.reveal {
  width: 1000px;
  height: 500px;
  margin: 50px;
}

.plug {
  background: url('../../assets/header-imageone.jpg') 0px 150px, url('../../assets/header-imagetwo.jpg') 0px -225px, #f6d9ad;
  background-repeat: no-repeat;
  -webkit-transition: background-position 0.3s ease;
  -moz-transition: background-position 0.3s ease;
  -o-transition: background-position 0.3s ease;
  -ms-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
}

.plug:hover {
  background: url('../../assets/header-imageone.jpg') 0px 210px, url('../../assets/header-imagetwo.jpg') 0px -285px, #f6d9ad;
  background-repeat: no-repeat;
}