.footer-nav-big small a {
  margin: 10px;
  color: #666;
  padding: 9px 0;
  font-weight: 700;
  font-size: 12px;
}

.footer-nav-small small a {
  margin: 10px;
  color: #666;
  padding: 9px 0;
  font-weight: 600;
  font-size: 11px;
}

.copy {
  margin: 3px;
  color: #666;
  font-weight: 600;
  font-size: 11px;
}

#flag {
  height: 22px;
}

#search-icon {
  height: 12px;
}