<div class="row">
  <div class="col-md-12">
    <div class="container-fluid paypal-gray">
      <small>*Exclusions apply. This is an exclusive offer offered to eligible Paypal account owners.
        With this service you are eligible to receive up to 12 refunds per calendar year (between January 1st and December 31st), 
        and may receive refunds of up to $30 USD per claim. PayPal reserves the right to cancel or 
        modify part of or this entire Offer at any time without notice, for any reason in their
        sole discretion. <a href="#">See full terms and conditions</a>. 
      </small>
      <br>
      <a href="#">**See more about Purchase Protection terms and limitations.</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="container-fluid footer-nav-big">
      <small><a href="#">Help & Contact</a></small>
      <small><a href="#">Fees</a></small>
      <small><a href="#">Security</a></small>
      <small><a href="#">Apps</a></small>
      <small><a href="#">Shop</a></small>
      <hr>
      <small><a href="#">About</a></small>
      <small><a href="#">Fees</a></small>
      <small><a href="#">Security</a></small>
      <small><a href="#">Apps</a></small>
      <small><a href="#">Shop</a></small>
    </div>
  </div>
</div>

