<div class="container-fluid center paypal-gray">
  <div class="row">
    <div class="col-md-12">
      <h2>You might be surprised with how many online stores accept PayPal.</h2>
      <img src="../../../assets/body-sectionetwo-img1.png">
      <h2>Shop 19 million online stores and counting.</h2>
      <div class="row">
        <div class="col-md-4">
          <h5>Shop your favorite brands.</h5>
          <p class="lead">PayPal is accepted where you shop - on over 75% of online merchants, from big brands to boutique sites.</p>
        </div>
        <div class="col-md-4">
          <h5>Who shops the world? You.</h5>
          <p class="lead">With PayPal, you can shop online stores in 200+ markets around the world so it's all right at your fingertips.</p>
        </div>
        <div class="col-md-4">
          <h5>Buy with confidence.</h5>
          <p class="lead">There's a reason why over 200 million people trust PayPal: it's easy and secure with benefits like Return Shipping on Us* and Purchase Protection.**</p>
        </div>
      </div>
      <small><a href="#">Shop now with PayPal at your favorite stores.</a></small>
    </div>
  </div>
</div>