<div class="container-fluid center paypal-white">
  <div class="row">
    <div class="col-md-12">
      <h2>Send money to friends and family</h2>
      <p class="lead">It's free to send money to friends and family in the U.S. when you use your bank account or PayPal balance.*</p>
      <button id="bodySectionOneBtn">Send Money Now</button>
      <p class="lead">*Funds go quickly into their PayPal account. If they don't have one, they can <a href="#">Sign Up</a> for free.</p>
    </div>
  </div>
</div>