<div class="container-fluid center paypal-white">
  <div class="row">
    <div class="col-md-12">
      <h2>Send money to friends and family</h2>
      <p class="lead">It's free to send money to friends and family in the U.S. when you use your bank account or PayPal balance.*</p>
      <button id="sectionOneBtn" class="btn btn-lg btn-default">Send Money Now</button>
      <br>
      <small>*Funds go quickly into their PayPal account. If they don't have one, they can <a href="#">sign up</a> for free.</small>
    </div>
  </div>
</div>