/* You can add global styles to this file, and also import other style files */
.center {
  text-align: center;
}

.lead {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.paypal-gray {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-variant: normal;
  background-color: #F7F9FA;
  color: #25333A;
}

.paypal-blue {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-variant: normal;
  color: #fff;
  background-color: #009cde;
  background-image: radial-gradient(circle farthest-side at center bottom, #009cde, #003087 125%);
}

.paypal-white {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-variant: normal;
  background-color: #fff;
}

